/* 
.details-container {
    display: flex;
    align-items: flex-start;
}
*/

.genre-item {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    font-size: small;
}

.buttons-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.details-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.genre-description {
    margin-left: 20px;
}

.genre-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.genre-item {
    margin-right: 5px;
}