/* 
.details-container {
    display: flex;
    align-items: flex-start;
}
*/

.genre-item {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    font-size: small;
}