#header {
  background-color: #1565c0;
  min-height: 200px;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#header {
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

  h1 {
    color: white;
  }